:host {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .left {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  .right { 
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}